@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800&display=swap');
@import "./normalize";
@import "./mixins";

body {
  font-family: 'Inter', sans-serif !important;
  overflow-x: hidden;
}

.wrapper {
  .nav-link__item {
    padding: 12px 16px;
    color: black;
  }

  .site-logo__item {
    width: 140px;
    object-fit: cover;
    overflow: visible;
  }

  .nav-toggle__icon {
    width: 26px;
    height: 26px;
  }

  .banner-desc {
    .seo-text {
      @include adaptive-value('font-size', 80, 20);
      text-transform: uppercase;
      line-height: 112%; /* 67.2px */
      font-weight: 600;
      letter-spacing: -3px;
    }
  }

  .banner-try {
    color: #9C9C9C;
    @include adaptive-value('font-size', 24, 12);
  }

  .animated-box {
    @include adaptive-value("height", 272, 170);

    .track-horizontal {
      white-space: nowrap;
      will-change: transform;
      animation: morquee-horizontal 15s linear infinite;
      @include adaptive-value("gap", 32, 14);

      .marquee-text {
        color: #9C9C9C;
        @include adaptive-value("font-size", 32, 14);
        font-style: normal;
        font-weight: 400;
        line-height: 112%; /* 35.84px */
      }
    }

    .animated-circle {
      @include adaptive-value('width', 160, 100);
      @include adaptive-value('height', 160, 100);
      border-radius: 50%;
      background: #000;
    }
  }


  .banner-text__special {
    border-radius: 18px;
    border: 8px solid #E7D4FF;
    padding: 0 2px;
  }

  .banner-info__item {
    margin: 5px 0;
    width: 24%;
  }

  .banner-info__item:nth-child(1) {
    background-color: #BAFFAF;
    color: #094000;
  }

  .banner-info__item:nth-child(2) {
    background-color: #FFECA9;
    color: #4F3D00;
  }

  .banner-info__item:nth-child(3) {
    background-color: #E7D4FF;
    color: #390081;
  }

  .banner-info__item:nth-child(4) {
    background-color: #FFD4D4;
    color: #400000;
  }

  /*Parallax style*/
  #parallax {
    @include adaptive-value("gap", 20, 12);
    overflow-x: hidden;
  }

  .parallax-element {
    @include adaptive-value("gap", 20, 12);
    width: fit-content;
  }

  .parallax__item {
    @include adaptive-value("height", 333, 250);
    @include adaptive-value("width", 592, 265);
    @include adaptive-value("padding", 32, 24);
  }

  .parallax__icon {
    @include adaptive-value("height", 64, 52);
    @include adaptive-value("width", 64, 52);
  }

  .parallax__title {
    @include adaptive-value("font-size", 28, 14);
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 42px */
  }

  .parallax__desc {
    @include adaptive-value("font-size", 20, 12);
    font-style: normal;
    font-weight: 400;
  }

  @media (max-width: 992px) {
    .banner-info__item {
      width: 49%;
    }
  }

  @media (max-width: 1200px) {
    .site-logo__item {
      width: 139px;
      height: 20px;
    }
    .nav-toggle__icon {
      width: 36px;
      height: 36px;
    }

  }

  .circle {
    @include adaptive-value("width", 160, 100);
    @include adaptive-value("height", 160, 100);
    border-radius: 50%;
    background-color: #171717;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    & .text {
      @include adaptive-value("font-size", 20, 16);
    }
  }

  .circle:before,
  .circle:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border: 1px solid #171717;
    border-radius: 50%;
  }


  .circle:before {
    animation: ripple 2s linear infinite;
  }

  .circle:after {
    animation: ripple 2s linear 1s infinite;
  }

  .about-icon {
    width: 82px;
    height: 82px;

    &:nth-child(1) {
      background-color: #FFECA9;
    }

    &:nth-child(2) {
      background-color: #E7D4FF;
    }

    &:nth-child(3) {
      background-color: #BAFFAF;
    }
  }

  @keyframes ripple {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.3);
      opacity: 1;
    }
    100% {
      transform: scale(1.6);
      opacity: 0;
    }
  }

  /* Text */
  .text {
    text-align: center;
    vertical-align: middle;
    line-height: 100px;
    margin: 0;
  }


  @media (max-width: 576px) {
    .site-logo__item {
      width: 110px;
    }

    .nav-toggle__icon {
      width: 26px;
    }
    .banner-info__item {
      width: 100%;
    }
  }

}

@keyframes morquee-horizontal {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-40%);
  }
}


