@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800&display=swap');
@import "./normalize";
@import "./mixins";

body {
  font-family: 'Inter', sans-serif !important;
  overflow-x: hidden;
}

.main-input {
  width: 100%;
  //height: 44px;
  padding: 16px;
  border: none;
  border-radius: 8px;
  background-color: #F2F2F2;
}

section.section {
  @include adaptive-value("margin-top", 120, 30);
}

.section-title {
  color: #000;
  text-align: center;
  @include adaptive-value("font-size", 32, 20);
  @include adaptive-value("margin-bottom", 40, 20);
  font-style: normal;
  font-weight: 500;
  line-height: 125%; /* 40px */
}

input.main-input {
  height: 44px;
}

textarea.main-input {
  height: 115px;
}

.main-btn {
  display: inline-flex;
  padding: 10px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background: #49A2E1;
  color: #ffffff;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 24px */

  &:hover {
    background: #368FCE;
    color: white;
  }

  &:active {
    background-color: #3186c4 !important;
    color: white !important;
  }
}

.wrapper {
  .nav-link__item {
    padding: 12px 16px;
    color: black;
  }

  .site-logo__item {
    width: 140px;
    object-fit: cover;
    overflow: visible;
  }

  .nav-toggle__icon {
    width: 26px;
    height: 26px;
  }

  .sitenav-menu {
    padding: 32px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ffffff;
    z-index: 100;
    display: flex;
    flex-direction: column;
    transform: translateY(-100%);
    .menu-text {
      color: #000;
      font-size: 24px;
      font-style: normal;
      font-weight: 500;
      line-height: 150%; /* 36px */
    }

    .x-icon {
      width: 44px;
      height: 44px;
    }
  }

  .banner-desc {
    .seo-text {
      @include adaptive-value('font-size', 80, 20);
      text-transform: uppercase;
      line-height: 112%; /* 67.2px */
      font-weight: 600;
      letter-spacing: -3px;
    }
  }

  .banner-try {
    color: #9C9C9C;
    @include adaptive-value('font-size', 24, 12);
  }

  .animated-box {
    @include adaptive-value("height", 272, 170);

    .track-horizontal {
      white-space: nowrap;
      will-change: transform;
      animation: morquee-horizontal 15s linear infinite;
      @include adaptive-value("gap", 32, 14);

      .marquee-text {
        color: #9C9C9C;
        @include adaptive-value("font-size", 32, 14);
        font-style: normal;
        font-weight: 400;
        line-height: 112%; /* 35.84px */
      }
    }

    .animated-circle {
      @include adaptive-value('width', 160, 100);
      @include adaptive-value('height', 160, 100);
      border-radius: 50%;
      background: #000;
    }
  }


  .banner-text__special {
    border-radius: 18px;
    border: 8px solid #E7D4FF;
    padding: 0 2px;
  }

  .banner-info__item {
    margin: 5px 0;
    width: 24%;
  }

  .banner-info__item:nth-child(1) {
    background-color: #BAFFAF;
    color: #094000;
  }

  .banner-info__item:nth-child(2) {
    background-color: #FFECA9;
    color: #4F3D00;
  }

  .banner-info__item:nth-child(3) {
    background-color: #E7D4FF;
    color: #390081;
  }

  .banner-info__item:nth-child(4) {
    background-color: #FFD4D4;
    color: #400000;
  }

  /*Parallax style*/
  #parallax {
    @include adaptive-value("gap", 20, 12);
    overflow-x: hidden;
  }

  .parallax-element {
    @include adaptive-value("gap", 20, 12);
    width: fit-content;
  }

  .parallax__item {
    @include adaptive-value("height", 333, 250);
    @include adaptive-value("width", 592, 265);
    @include adaptive-value("padding", 32, 24);
  }

  .parallax__icon {
    @include adaptive-value("height", 64, 52);
    @include adaptive-value("width", 64, 52);
  }

  .parallax__title {
    @include adaptive-value("font-size", 28, 14);
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 42px */
  }

  .parallax__desc {
    @include adaptive-value("font-size", 20, 12);
    font-style: normal;
    font-weight: 400;
  }


  @media (max-width: 992px) {
    .banner-info__item {
      width: 49%;
    }
  }

  @media (max-width: 1200px) {
    .site-logo__item {
      width: 139px;
      height: 20px;
    }
    .nav-toggle__icon {
      width: 36px;
      height: 36px;
    }

  }

  .begin-circle {
    @include adaptive-value("width", 160, 100);
    @include adaptive-value("height", 160, 100);
  }

  .header-video-play {
    @include adaptive-value("width", 96, 42);
    @include adaptive-value("height", 96, 42);
  }

  .short-video__circle {
    @include adaptive-value("width", 94, 32);
    @include adaptive-value("height", 94, 32);
  }

  .circle {

    border-radius: 50%;
    background-color: #171717;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    &:active {
      background-color: #424141;
    }

    &.text {
      @include adaptive-value("font-size", 20, 16);
    }
  }

  .circle:before,
  .circle:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border: 1px solid #171717;
    border-radius: 50%;
  }


  .circle:before {
    animation: ripple 2s linear infinite;
  }

  .circle:after {
    animation: ripple 2s linear 1s infinite;
  }

  .about-icon {
    width: 82px;
    height: 82px;

    &:nth-child(1) {
      background-color: #FFECA9;
    }

    &:nth-child(2) {
      background-color: #E7D4FF;
    }

    &:nth-child(3) {
      background-color: #BAFFAF;
    }


  }

  .task-wrapper {
    background-color: #171717;
    @include adaptive-value("padding-top", 120, 35);

    .tasks {
      color: #9C9C9C;
      text-align: center;
      @include adaptive-value("font-size", 32, 14);
      font-style: normal;
      font-weight: 500;
    }

    .task__main-text {
      @include adaptive-value("font-size", 75, 18);
      font-style: normal;
      font-weight: 600;
      text-transform: uppercase;
      line-height: 112%;
    }

    .task__desc {
      color: #9C9C9C;
      text-align: center;
      @include adaptive-value("font-size", 28, 14);
      font-style: normal;
      font-weight: 500;
      line-height: 125%; /* 40px */
    }

    .task__image {
      @include adaptive-value("margin-top", 120, 55);
    }
  }

  .step-card__item {
    width: 32%;
    height: 255px;
    cursor: pointer;
    border-radius: 8px;
    transition: all 0.3s ease-in-out;
    overflow: hidden;


    &::before {
      content: "";
      width: 235px;
      height: 235px;
      position: absolute;
      transform: translate(20%, 50%);
      bottom: 0;
      right: 0;
      opacity: 1;
      transition: all 0.3s linear;
      z-index: -1;
    }

    &::after {
      content: "";
      width: 235px;
      height: 235px;
      position: absolute;
      transform: translate(20%, 50%);
      bottom: 0;
      right: 0;
      opacity: 0;
      transition: all 0.3s linear;
      z-index: -1;
    }

    &:hover {
      border-radius: 24px;
    }

    &:hover::before {
      opacity: 0;
    }

    &:hover::after {
      opacity: 1;
    }

    &:hover .circle-thing {
      width: 48px;
      height: 48px;
    }

    &:hover .circle-thing .circle-thing__item {
      opacity: 1;
    }


    .circle-thing {
      .circle-thing__item {
        width: 24px;
        height: 24px;
        opacity: 0;
        transition: all 0.3s ease-in-out;
      }

      width: 24px;
      height: 24px;
      border-radius: 50%;
      transition: all 0.3s ease;
      top: 32px;
      left: 32px;
    }

  }

  .step-card__item:nth-child(1) {
    background-color: #FFD4D4;
    color: #400000;

    .circle-thing {
      background-color: #FFA7A7;
    }

    &::before {
      background: url("../assets/images/step-card1_before.svg") 0 0 no-repeat;
    }

    &::after {
      background: url("../assets/images/step-card1_after.svg") 0 0 no-repeat;
    }
  }

  .step-card__item:nth-child(2) {
    background-color: #BAFFAF;
    color: #094000;

    .circle-thing {
      background-color: #5BFF40;
    }

    &::before {
      background: url("../assets/images/step-card2_before.svg") 0 0 no-repeat;
    }

    &::after {
      background: url("../assets/images/step-card2_after.svg") 0 0 no-repeat;
    }
  }

  .step-card__item:nth-child(3) {
    background-color: #E7D4FF;
    color: #390081;

    .circle-thing {
      background-color: #D8B9FF;
    }

    &::before {
      background: url("../assets/images/step-card3_before.svg") 0 0 no-repeat;
    }

    &::after {
      background: url("../assets/images/step-card3_after.svg") 0 0 no-repeat;
    }
  }


  .step-card__title {
    @include adaptive-value("font-size", 24, 16);
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 36px */
    @include adaptive-value("margin-bottom", 10, 5);
  }

  .step-card__desc {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
  }

  .contact-img__wrapper {
    width: 55%;
    border-radius: 8px;
    @include adaptive-value("height", 350, 200);
    @media (max-width: 768px) {
      width: 100%;
    }
  }

  .contact-form {
    width: 44%;
    @media (max-width: 768px) {
      width: 100%;
    }
  }

  @keyframes ripple {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.3);
      opacity: 1;
    }
    100% {
      transform: scale(1.6);
      opacity: 0;
    }
  }

  /* Text */
  .text {
    text-align: center;
    vertical-align: middle;
    line-height: 100px;
    margin: 0;
  }


  @media (max-width: 576px) {
    .site-logo__item {
      width: 110px;
    }

    .nav-toggle__icon {
      width: 26px;
    }
    .banner-info__item {
      width: 100%;
    }
  }

  @media (max-width: 768px) {

    .step-cards {
      display: flex;
      flex-direction: column !important;
      gap: 15px;
    }
    .step-card__item {
      width: 100%;
    }
  }

}

.footer {
  @include adaptive-value("margin-top", 100, 30);

  &__desktop {
    background-color: #F2F2F2;
    padding: 0 20px 0 10px;
  }

  &__link {
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 24px */
  }

  &__lang {
    border: none;
    background: transparent;
    padding: 8px 16px;
  }

  &__privacy {
    color: #9a9a9a;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 24px */
  }

}

@keyframes morquee-horizontal {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-40%);
  }
}


